* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url('../../imagenes/fondo.jpg');
    background-size: cover;
    background-position: center;
    color: black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #515559b5; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    color: black;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.bienvenida {
    text-align: center;
    margin: 20px 0;
}

.servicios {
    margin: 40px 0;
}

.servicio {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.servicio-img {
    width: 170px; /* Ajusta según el tamaño deseado */
    height: 150px;
    border-radius: 8px;
    margin-right: 20px; /* Espacio entre la imagen y el texto */
}

.servicio-info {
    flex-grow: 1; /* Permite que el texto tome el espacio restante */
}

.servicio-info h3 {
    font-size: 1.5em;
    color: black;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
    border-radius: 5px;
}

footer p {
    margin: 0;
}
.bienvenida-cuadro {
    background-color: rgba(0, 0, 0, 0); /* Negro con 50% de transparencia */
    padding: 20px; /* Espacio interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra suave */
    margin: 20px auto; /* Margen superior e inferior */
    max-width: 800px; /* Ancho máximo para el cuadro */
    text-align: center; /* Centrar texto dentro del cuadro */
    border: 2px solid #15a6c3;
}

.bienvenida-cuadro h2 {
    color: black; /* Color del encabezado */
    margin-bottom: 10px; /* Espacio debajo del encabezado */
}

.bienvenida-cuadro p {
    color: black; /* Color del párrafo */
}
.cita {
    background-color: black; /* Color de fondo azul */
    color: white; /* Color del texto en blanco */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de la fuente */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */
    display: block; /* Hacer que el botón sea un bloque */
    margin: 20px auto; /* Margen automático para centrar */
}

.cita:hover {
    background-color: #5155599c; /* Color de fondo más oscuro al pasar el mouse */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño */
}

.cita:active {
    transform: scale(0.95); /* Disminuye ligeramente el tamaño al hacer clic */
}
